.LoadingView {
	position: fixed;
	top: 70px;
	text-align: center;
	width: 100%;
	z-index: 99;
}

.LoadingView .container {
	background: #ffffff;
	border: 0px solid #337ab7;
	padding: 30px;
	width: 350px;
}

.LoadingView .indicator {
	background: url("../img/loading_128.png") no-repeat;
	height: 128px;
	margin: 0 auto;
	width: 128px;
}

.LoadingView .status {
	margin-top: 30px;
}