@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body, div, p, span, h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

body {
  padding-top: 50px;
}

/* Wrappers */

/* ------------------------------------ */

#wrapper {
  width: 100%;
}

#page-wrapper {
}

/*@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}*/

/* Common styles */

/* ------------------------------------ */

.provider-wrapper {
  margin-bottom: 20px;
}

.provider-action-wrapper {
  margin-bottom: 20px;
}
