/nbproject/
/.settings/
.buildpath
.project
.idea
test.html
base.php
data/userroleassignments.ini
data/userroleassignments.ini*
data/config.ini
data/config.ini*
.Trash-0
.DS_Store
test*.php
test*.txt
config.ini
data/.history.db
data/.history.db*
