<script id="tmpl-BasicSearchDialogView" type="text/html">
  <div class="BasicSearchDialogView">

    <div class="modal fade" id="basicsearchmodal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{>~tr("Close")}}</span></button>
            <h4 class="modal-title">{{>~tr("Search")}}</h4>
          </div>
          <div class="modal-body">
            <form role="form">

              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" type="text" name="searchquery" required>
                  <span class="input-group-btn">
                    <button class="btn btn-default search-link" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                  </span>
                </div>
              </div>
              
              <div class="form-group searchresultcontainer">
              </div>
              
              {{if showPermissionSelection}}
              <div class="form-group">
                <label for="permission">{{>~tr('Permission')}}</label>
                <select class="form-control" name="permission">
                  <option value="">{{>~tr('No permission')}}</option>
                  <option value="r">{{>~tr('Read only')}}</option>
                  <option value="rw">{{>~tr('Read & Write')}}</option>
                </select>
              </div>
              {{/if}}

            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary submit">{{>~tr("Add")}}</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</script>

<script id="tmpl-BasicSearchDialogView-Result" type="text/html">
  <select multiple class="form-control" name="result" size="8">
    {{for rows}}
      <option value="{{>id}}">{{>id}}</option>
    {{/for}}
  </select>
</script>

<script id="tmpl-BasicSearchDialogView-ResultItem" type="text/html">
  <option value="{{>id}}">{{>id}}</option>
</script>