<script id="tmpl-BasicTableView" type="text/html">
  <div class="BasicTableView">

    {{if options.showSearch}}
    <div class="search-wrapper">
      <div class="input-group">
        <span class="input-group-addon">{{>~tr('Search')}}</span>
        <input type="text" class="form-control search-query" placeholder="" />
      </div>
    </div>
    {{/if}}

    <div class="table-responsive">
      <table class="table table-hover table-condensed">
      <thead>
        <tr>
        {{if options.multiActions.length > 0}}
          <th width="50"></th>
        {{/if}}
        {{if options.showRowNumber}}
          <th width="50">#</th>
        {{/if}}
        {{for options.columns}}
          <th data-column="{{>id}}">{{>name}}</th>
        {{/for}}
        {{if ~root.options.singleActions.length > 0}}
          <th>{{>~tr('Options')}}</th>
        {{/if}}
        </tr>
      </thead>
      <tbody></tbody>
      </table>
    </div>

    <div class="pager-wrapper">
    </div>

    <div class="multi-actions-wrapper">
    </div>

  </div>
</script>

<script id="tmpl-BasicTableView-Rows" type="text/html">
  {{for data.rows ~offset=offset}}
    <tr data-rowid="{{>id}}">
      {{if ~root.options.multiActions.length > 0}}
        <td><input class="selection" type="checkbox" name="rowid" value="{{>id}}" /></td>
      {{/if}}
      {{if ~root.options.showRowNumber}}
        <td>{{>(#parent.index + 1 + ~offset)}}</td>
      {{/if}}
      {{for cells}}
        <td>{{>#data}}</td>
      {{/for}}
      {{if ~root.options.singleActions.length > 0}}
        <td>
          {{for ~root.options.singleActions ~id=id}}
            <a class="single-action" data-actionid="{{>id}}" href="{{>getLink(~id)}}">{{>getName(~id)}}</a>
          {{/for}}
        </td>
      {{/if}}
    </tr>
  {{/for}}
</script>

<script id="tmpl-BasicTableView-Pager" type="text/html">
  {{if options.showPaging}}
    {{if offset > 0 || hasMore}}
      <ul class="pager">
        <li class="previous {{if offset == 0}}disabled{{/if}}"><a class="previous-page" href="#" data-offset="{{>offset - options.pageSize}}" data-num="{{>options.pageSize}}">&larr; {{>~tr("Previous")}}</a></li>
        <li class="next {{if !hasMore}}disabled{{/if}}"><a class="next-page" href="#" data-offset="{{>offset + options.pageSize}}" data-num="{{>options.pageSize}}">{{>~tr("Next")}} &rarr;</a></li>
      </ul>
    {{/if}}
  {{/if}}
</script>

<script id="tmpl-BasicTableView-MultiActions" type="text/html">
  {{if options.multiActions.length > 0}}
    <b>{{>~tr('Multi actions:')}}</b>
  {{/if}}
  {{for options.multiActions}}
    <button class="btn btn-link multi-action" data-actionid="{{>id}}">{{>name}}</button>
  {{/for}}
</script>
