<script id="tmpl-BasicTableView" type="text/html">
  <div class="BasicTableView">

    {{if options.showSearch}}
    <div class="search-wrapper">
      <div class="input-group">
        <span class="input-group-addon">{{>~tr('Search')}}</span>
        <input type="text" class="form-control search-query" placeholder="" />
      </div>
    </div>
    {{/if}}

    <div class="table-responsive">
      <table class="table table-hover">
      <thead>
        <tr>
        {{if options.multiSelection}}
          <th width="50"></th>
        {{/if}}
        {{for options.columns}}
          <th data-column="{{>id}}">{{>name}}</th>
        {{/for}}
        </tr>
      </thead>
      <tbody></tbody>
      </table>
    </div>

    <div class="pager-wrapper">
    </div>

    <div class="actions-wrapper">
    </div>

  </div>
</script>

<script id="tmpl-BasicTableView-Rows" type="text/html">
  {{for data.rows}}
    <tr data-rowid="{{>id}}">
      {{if ~root.options.multiSelection}}
        <td><input class="selection" type="checkbox" name="rowid" value="{{>id}}" /></td>
      {{/if}}
      {{for cells}}
        <td>{{>#data}}</td>
      {{/for}}
    </tr>
  {{/for}}
</script>

<script id="tmpl-BasicTableView-Pager" type="text/html">
  {{if options.showPaging}}
    {{if offset > 0 || hasMore}}
      <ul class="pager">
        <li class="previous {{if offset == 0}}disabled{{/if}}"><a class="previous-page" href="#" data-offset="{{>offset - options.pageSize}}" data-num="{{>options.pageSize}}">&larr; {{>~tr("Previous")}}</a></li>
        <li class="next {{if !hasMore}}disabled{{/if}}"><a class="next-page" href="#" data-offset="{{>offset + options.pageSize}}" data-num="{{>options.pageSize}}">{{>~tr("Next")}} &rarr;</a></li>
      </ul>
    {{/if}}
  {{/if}}
</script>

<script id="tmpl-BasicTableView-Actions" type="text/html">
  <b>{{>~tr('Actions:')}}</b>
  {{for options.actions}}
    <button class="btn btn-link action" data-actionid="{{>id}}">{{>name}}</button>
  {{/for}}
</script>
