<script id="tmpl-GroupListView" type="text/html">
  <div class="GroupListView">
    <div class="provider-wrapper"></div>
    <div class="grouplist-wrapper"></div>
  </div>
</script>

<script id="tmpl-GroupListView-Providers" type="text/html">
  <div class="GroupListView-Providers">
    <ul class="nav nav-pills">
      {{for providers ~current=current}}
      <li class="provider" data-providerid="{{>id}}">
        <a class="provider-link" data-providerid="{{>id}}" href="#!/groups?providerid={{url:id}}">{{>id}}</a>
      </li>
      {{/for}}
    </ul>
  </div>
</script>

<script id="tmpl-GroupListView-GroupList" type="text/html">
  <div class="GroupListView-GroupList">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">{{>~tr("Groups")}}</h1>
      </div>
      <div class="panel-body">
        <div class="table-wrapper"></div>
      </div>
      <div class="panel-footer">
      {{if provider.editable}}
        <button class="btn btn-default add-link" data-providerid="{{>provider.id}}">{{>~tr("Add")}}</button>
      {{/if}}
      </div>
    </div>
  </div>
</script>