<script id="tmpl-GroupAddView" type="text/html">
<div class="GroupAddView" data-providerid="{{>providerId}}">

  <div class="modal fade" id="groupaddmodal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{>~tr("Close")}}</span></button>
          <h4 class="modal-title">{{>~tr("Add")}}</h4>
        </div>
        <div class="modal-body">

          <form role="form">
            <div class="form-group">
              <label for="name">{{>~tr("Name")}}</label>
              <input class="form-control" type="text" name="name" required>
              <p class="help-block">TODO: Help here!</p>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary submit">{{>~tr("Add")}}</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>
</script>