<script id="tmpl-GroupInfoView" type="text/html">
<div class="GroupInfoView">
  <h1><span class="glyphicon glyphicon-user"></span> {{>~tr("Group Information")}}</h1>
  <p>
    <a role="button" class="btn btn-default groups-link" href="#!/groups/{{>providerId}}" data-providerid="{{>providerId}}">{{>~tr('Back to overview')}}</a>
  </p>
  <div class="users-wrapper"></div>
</div>
</script>