<script id="tmpl-GroupListView" type="text/html">
<div class="GroupListView">
  <h1><span class="glyphicon glyphicon-group"></span> {{>~tr("Groups")}}</h1>
  <div class="provider-selection-wrapper"></div>
  <div class="table-wrapper"></div>
  {{!-- include tmpl="#tmpl-UserListViewAddForm"/ --}}
</div>
</script>

<script id="tmpl-GroupListViewProviders" type="text/html">
<div class="GroupListViewProviders">
  <ul class="nav nav-pills">
    {{for providers ~current=current}}
    <li data-id="{{>id}}">
      <a class="provider-link" data-id="{{>id}}" href="#!/groups/{{>id}}">{{>id}}</a>
    </li>
    {{/for}}
  </ul>
</div>
</script>

<script id="tmpl-GroupListViewGroupTable" type="text/html">
<div class="GroupListViewGroupTable">

  <ul>
  {{for response.groups}}
    <li>{{>(#index + 1)}} - {{>name}} - {{>displayname}}</li>
  {{/for}}
  </ul>

</div>
</script>