<script id="tmpl-GroupInfoView" type="text/html">
  <div class="GroupInfoView">
    <p>
      <a role="button" class="btn btn-default groups-link" href="#!/groups?providerid={{url:options.providerId}}" data-providerid="{{>options.providerId}}"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <button class="btn btn-default refresh-link"><span class="glyphicon glyphicon-refresh"></span></button>
    </p>

    <!-- Members -->
    <div class="panel panel-default members">
      <div class="panel-heading">
        <h1 class="panel-title">{{>~tr("Members")}}</h1>
      </div>
      <div class="panel-body"></div>
    </div>

    <!-- Roles -->
    <div class="panel panel-default roles">
      <div class="panel-heading">
        <h1 class="panel-title">{{>~tr("Roles")}}</h1>
      </div>
      <div class="panel-body">
        <p>Content here...</p>
      </div>
    </div>

  </div>
</script>