<script id="tmpl-LoadingView" type="text/html">
  <div class="LoadingView">
    <div class="container">
      <div class="spinner"></div>
      <div class="status">Please wait...</div>
    </div>
  </div>
</script>