<script id="tmpl-LoginView" type="text/html">
<div class="LoginView container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">iF.SVNAdmin</h3>
    </div>
    <div class="panel-body">

      <form role="form">
        <h3>{{>~tr("Please sign in")}}</h3>
        <div class="form-group">
          <input class="form-control" type="text" name="username" placeholder="{{>~tr('Username')}}" required autofocus>
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="password" placeholder="{{>~tr('Password')}}" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{>~tr("Sign in")}}</button>
      </form>

    </div>
  </div>
</div>
</script>
