<script id="tmpl-MainView" type="text/html">
  <div class="MainView">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle button -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topnavitems">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">iF.SVNAdmin</a>
        </div>
        <!-- Actual links -->
        <div class="collapse navbar-collapse" id="topnavitems">
          <ul class="nav navbar-nav">
            <li><a class="dashboard-link" href="#!/dashboard"><span class="glyphicon glyphicon-dashboard"></span> {{>~tr('Dashboard')}}</a></li>
            <li><a class="repositories-link" href="#!/repositories"><span class="glyphicon glyphicon-hdd"></span> {{>~tr('Repositories')}}</a></li>
            <li><a class="users-link" href="#!/users"><span class="glyphicon glyphicon-user"></span> {{>~tr('Users')}}</a></li>
            <li><a class="groups-link" href="#!/groups"><span class="glyphicon glyphicon-user"></span> {{>~tr('Groups')}}</a></li>
            <li class="disabled" title="NOT YET AVAILABLE"><a class="roles-link" href="#!/roles"><span class="glyphicon glyphicon-user"></span> {{>~tr('Roles')}}</a></li>
            <li class="disabled" title="NOT YET AVAILABLE"><a class="settings-link" href="#!/settings"><span class="glyphicon glyphicon-wrench"></span> {{>~tr('Settings')}}</a></li>
            <li><a class="logout-link" href="#!/logout"><small>{{>~tr("Logout")}}</small></a></li>
          </ul>
        </div>
      </div><!-- /.container-fluid -->
    </nav><!-- /.navbar-fixed-top -->

    <!-- Site Content -->
    <div id="page-wrapper" class="container">
    </div><!-- /.page-wrapper -->

  </div><!-- /.MainView -->
</script>
