<script id="tmpl-PathPermissionsView" type="text/html">
  <div class="PathPermissionsView">
    <p>
      <a role="button" class="btn btn-default repositoryinfo-link" href="#!/repositoryinfo?providerid={{url:options.providerId}}&repositoryid={{url:options.repositoryId}}" data-providerid="{{>options.providerId}}" data-repositoryid="{{>options.repositoryId}}"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <button class="btn btn-default refresh-link"><span class="glyphicon glyphicon-refresh"></span></button>
    </p>
    <div class="members-wrapper"></div>
  </div>
</script>

<script id="tmpl-PathPermissionsView-Members" type="text/html">
  <div class="PathPermissionsView-Members">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">{{>~tr("Assigned permissions")}}</h1>
      </div>
      <div class="panel-body">
        <div class="table-wrapper"></div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-default assign-user-link">{{>~tr("Assign user")}}</button>
        <button class="btn btn-default assign-group-link">{{>~tr("Assign group")}}</button>
      </div>
    </div>
  </div>
</script>