<script id="tmpl-RepositoryListView" type="text/html">
  <div class="RepositoryListView">
    <h1>{{>~tr("Repositories")}}</h1>
    <div class="provider-wrapper"></div>
    <div class="repositorylist-wrapper"></div>
  </div>
</script>

<script id="tmpl-RepositoryListView-Providers" type="text/html">
  <div class="RepositoryListView-Providers">
    <ul class="nav nav-pills">
      {{for providers ~current=current}}
      <li class="provider" data-providerid="{{>id}}">
        <a class="provider-link" data-providerid="{{>id}}" href="#!/repositories/{{>id}}">{{>id}}</a>
      </li>
      {{/for}}
    </ul>
  </div>
</script>

<script id="tmpl-RepositoryListView-RepositoryList" type="text/html">
  <div class="RepositoryListView-RepositoryList">
    <div class="panel panel-default">
      <div class="panel-heading">
        <button class="btn btn-default add-link" data-providerid="{{>providerId}}">{{>~tr("Add")}}</button>
      </div>
      <div class="panel-body">
        <div class="table-wrapper"></div>
      </div>
    </div>
  </div>
</script>