<script id="tmpl-RepositoryInfoView" type="text/html">
  <div class="RepositoryInfoView">
    <h1>{{>~tr('Repository')}}</h1>
    <p><a role="button" class="btn btn-default repositories-link" href="#!/repositories/{{>options.providerId}}" data-providerid="{{>options.providerId}}">{{>~tr('Back to overview')}}</a></p>

    <!-- Paths -->
    <div class="panel panel-default paths">
      <div class="panel-heading">
        <h1 class="panel-title">{{>~tr("Paths")}}</h1>
      </div>
      <div class="panel-body"></div>
    </div>

  </div>
</script>