<script id="tmpl-UserListView" type="text/html">
  <div class="UserListView">
    <div class="provider-wrapper"></div>
    <div class="userlist-wrapper"></div>
  </div>
</script>

<script id="tmpl-UserListView-Providers" type="text/html">
  <div class="UserListView-Providers">
    <ul class="nav nav-pills">
      {{for providers ~current=current}}
      <li class="provider" data-providerid="{{>id}}">
        <a class="provider-link" data-providerid="{{>id}}" href="#!/users/{{>id}}">{{>id}}</a>
      </li>
      {{/for}}
    </ul>
  </div>
</script>

<script id="tmpl-UserListView-UserList" type="text/html">
  <div class="UserListView-UserList">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">{{>~tr("Users")}}</h1>
      </div>
      <div class="panel-body">
        <div class="table-wrapper"></div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-default add-link" data-providerid="{{>providerId}}">{{>~tr("Add")}}</button>
      </div>
    </div>
  </div>
</script>