<script id="tmpl-UserListView" type="text/html">
<div class="UserListView">
  <h1><span class="glyphicon glyphicon-user"></span> {{>~tr("Users")}}</h1>
  <div class="provider-selection-wrapper"></div>
  <div class="user-table-wrapper"></div>
  {{include tmpl="#tmpl-UserListViewAddForm"/}}
</div>
</script>

<script id="tmpl-UserListViewProviders" type="text/html">
<div class="UserListViewProviders">
  <ul class="nav nav-pills">
    {{for providers ~current=current}}
    <li data-id="{{>id}}">
      <a class="provider-link" data-id="{{>id}}" href="#!/users/{{>id}}">{{>id}}</a>
    </li>
    {{/for}}
  </ul>
</div>
</script>

<script id="tmpl-UserListViewUserTable" type="text/html">
<div class="UserListViewUserTable">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">{{>~tr("Existing Users")}}</h1>
    </div>
    <div class="panel-body">

      <div class="user-search-wrapper">
        <div class="input-group">
          <span class="input-group-addon">Search</span>
          <input type="text" class="form-control" placeholder="Type user's name, login, ...">
        </div>
      </div>

      {{if providerEditable}}
      <div class="">
        <button class="btn btn-primary adduser" data-toggle="modal" data-target="#useraddmodal">{{>~tr("Add")}}</button>
        <button class="btn btn-danger deleteuser">{{>~tr("Delete")}}</button>
      </div>
      {{/if}}

      <div class="table-responsive">
        <table class="table table-hover user-table">
        <thead>
          <tr>
            {{if providerEditable}}<th class="col-sm-1"></th>{{/if}}
            <th class="col-sm-1">#</th>
            <th class="col-sm-5">{{>~tr("Name")}}</th>
            <th class="col-sm-4">{{>~tr("Login")}}</th>
            <th class="col-sm-1"></th>
          </tr>
        </thead>
        <tbody>
          {{for response.users ~pid=providerId ~offset=offset ~providerEditable=providerEditable}}
          <tr>
            {{if ~providerEditable}}<td><input type="checkbox" name="user-selection" data-providerid="{{>~pid}}" data-userid="{{>id}}"></td>{{/if}}
            <td>{{>(#index + 1 + ~offset)}}</td>
            <td>{{>displayname}}</td>
            <td>{{>name}}</td>
            <td><a class="user-link" href="#!/users/{{>~pid}}/{{>id}}" data-id="{{>id}}">{{>~tr("Details")}}</a></td>
          </tr>
          {{/for}}
        </tbody>
        </table>
      </div>

      {{if offset > 0 || response.hasmore}}
      <ul class="pager">
        <li class="previous {{if offset == 0}}disabled{{/if}}"><a class="previous-page" href="#" data-offset="{{>offset - num}}" data-num="{{>num}}">&larr; {{>~tr("Previous")}}</a></li>
        <li class="next {{if !response.hasmore}}disabled{{/if}}"><a class="next-page" href="#" data-offset="{{>offset + num}}" data-num="{{>num}}">{{>~tr("Next")}} &rarr;</a></li>
      </ul>
      {{/if}}
    </div>
  </div>

</div>
</script>

<script id="tmpl-UserListViewAddForm" type="text/html">
<div class="UserListViewAddForm">

  <div class="modal fade" id="useraddmodal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{>~tr("Close")}}</span></button>
          <h4 class="modal-title">{{>~tr("Add")}}</h4>
        </div>
        <div class="modal-body">

          <form role="form">
            <div class="form-group">
              <label for="username">{{>~tr("Name")}}</label>
              <input class="form-control" type="text" name="username" required>
              <p class="help-block">{{>~tr("Valid characters: A-Z, 0-9, Dash (-), Underline (_)")}}</p>
            </div>
            <div class="form-group">
              <label for="password">{{>~tr("Password")}}</label>
              <input class="form-control" type="password" name="password" required>
            </div>
            <div class="form-group">
              <label for="password">{{>~tr("Repeat Password")}}</label>
              <input class="form-control" type="password" name="password2" required>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary submituser">{{>~tr("Add")}}</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>
</script>


<script id="tmpl-dev" type="text/html">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title"><span class="glyphicon glyphicon-user"></span> Create new user</h1>
    </div>
    <div class="panel-body">
      <form class="user-add" role="form">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username">
          <p class="help-block">Valid characters: A-Z, 0-9, Dash (-), Underline (_)</p>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password">
        </div>
        <button type="submit" class="btn btn-default">Create</button>
      </form>
    </div>
  </div>

</script>
