<script id="tmpl-UserInfoView" type="text/html">
  <div class="UserInfoView">
    <p>
      <a role="button" class="btn btn-default users-link" href="#!/users?providerid={{url:options.providerId}}" data-providerid="{{>options.providerId}}"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <button class="btn btn-default refresh-link"><span class="glyphicon glyphicon-refresh"></span></button>
    </p>

    <!-- Groups -->
    <div class="panel panel-default groups">
      <div class="panel-heading">
        <h1 class="panel-title">{{>~tr("Member of groups")}}</h1>
      </div>
      <div class="panel-body"></div>
      <div class="panel-footer">
        <button class="btn btn-default">{{>~tr("Assign group")}}</button>
      </div>
    </div>

  </div>
</script>