<script id="tmpl-UserListView" type="text/html">
	<div class="UserListView">

		<div class="subnav">
			<div class="container">

				<ul class="nav nav-pills">
					<!-- Providers as drop down menu -->
					{{if providers.length > 1}}
					<li role="presentation" class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" role="button" expanded="false">
							{{>provider.name}} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							{{for providers ~p=provider}}
							<li role="presentation" class="{{if ~p.id == id}}active{{/if}}">
								<a href="#!/users?providerid={{url:id}}">{{>displayname}}</a>
							</li>
							{{/for}}
						</ul>
					</li>
					{{/if}}

					{{if provider.editable}}
					<li><a class="NewUserLink" href="">{{>~tr('Create')}}</a></li>
					{{/if}}
				</ul>

			</div>
		</div>

		<div class="content container">

			<p class="list">
			<table class="table table-striped">
				<thead>
				<th width="30">{{>~tr('#')}}</th>
				<th>{{>~tr('Display Name')}}</th>
				<th>{{>~tr('Login Name')}}</th>
				<th width="200">{{>~tr('Options')}}</th>
				</thead>
				<tbody>
				{{for users ~provider=provider}}
				<tr>
					<td>{{>#index + 1}}</td>
					<td><a>{{>displayname}}</a></td>
					<td><a>{{>name}}</a></td>
					<td>
						{{if ~provider.editable}}
						<button class="btn btn-default btn-sm ChangePasswordLink" data-id="{{>id}}">{{>~tr('Change Password')}}</button>
						<button class="btn btn-danger btn-sm DeleteUserLink" data-id="{{>id}}">{{>~tr('Delete')}}</button>
						{{/if}}
					</td>
				</tr>
				{{/for}}
				</tbody>
			</table>
			{{if users.length == 0}}
			<div class="alert alert-info">{{>~tr('No data yet.')}}</div>
			{{/if}}
			</p>

		</div>

	</div>
</script>