<script id="tmpl-UserChangePasswordView" type="text/html">
	<div class="UserChangePasswordView">

		<div class="modal fade" id="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{>~tr('Close')}}</span>
						</button>
						<h4 class="modal-title">{{>~tr('Change Password')}}</h4>
						<em>{{>pid}} / {{>id}}</em>
					</div>
					<div class="modal-body">

						<form role="form">
							<div class="form-group">
								<label for="password">{{>~tr("Password")}}</label>
								<input class="form-control" type="password" name="password" required>
							</div>
							<div class="form-group">
								<label for="password">{{>~tr("Repeat Password")}}</label>
								<input class="form-control" type="password" name="password2" required>
							</div>
						</form>

					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary submit">{{>~tr('Change')}}</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">{{>~tr('Cancel')}}</button>
					</div>

				</div>
			</div>
		</div>

	</div>
</script>