<script id="tmpl-UserInfoView" type="text/html">
  <div class="UserInfoView">
    <h1>User Information</h1>
    <p><a role="button" class="btn btn-default users-link" href="#!/users/{{>options.providerId}}" data-providerid="{{>options.providerId}}">{{>~tr('Back to overview')}}</a></p>

    <!-- Groups -->
    <div class="panel panel-default groups">
      <div class="panel-heading">
        <h1 class="panel-title">{{>~tr("Groups")}}</h1>
      </div>
      <div class="panel-body"></div>
    </div>

    <!-- Roles -->
    <div class="panel panel-default roles">
      <div class="panel-heading">
        <h1 class="panel-title">{{>~tr("Roles")}}</h1>
      </div>
      <div class="panel-body">
        <p>Content here...</p>
      </div>
    </div>

  </div>
</script>