<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>iF.SVNAdmin by Manuel Freiholz | insaneFactory</title>
    
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>iF.SVNAdmin</h1>
        <p>Web-based GUI to manage Subversion repositories and User/Group permissions (+LDAP support)</p>
        <p class="view"><a href="https://github.com/mfreiholz/iF.SVNAdmin">View the Project on GitHub <small>mfreiholz/iF.SVNAdmin</small></a></p>
        <ul>
          <li><a href="https://github.com/mfreiholz/iF.SVNAdmin/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/mfreiholz/iF.SVNAdmin/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/mfreiholz/iF.SVNAdmin">Fork On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
	  
		<h1>{{ page.title }}</h1>
		{{ page.content }}
	  
	  </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/mfreiholz">mfreiholz</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>