<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>iF.SVNAdmin | {{ page.title }}</title>
    
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="author" content="Manuel Freiholz">
	<meta name="keywords" content="Subversion Management LDAP Repository">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Google+ Profile Badge -->
    <script type="text/javascript">
    window.___gcfg = {lang: 'en'};
    (function() 
    {var po = document.createElement("script");
    po.type = "text/javascript"; po.async = true;po.src = "https://apis.google.com/js/plusone.js";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(po, s);
    })();</script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>iF.SVNAdmin</h1>
        <p>Web-based GUI to manage Subversion repositories and User/Group permissions (+LDAP support)</p>
        <p class="view"><a href="https://github.com/mfreiholz/iF.SVNAdmin">View the Project on GitHub <small>mfreiholz/iF.SVNAdmin</small></a></p>
		
        <ul class="dlbuttons">
          <li><a href="http://sourceforge.net/projects/ifsvnadmin/files/svnadmin-1.6.1.zip/download">Download <strong>1.6.1 stable</strong></a></li>
          <li><a href="https://github.com/mfreiholz/iF.SVNAdmin/zipball/master">Download <strong>trunk</strong></a></li>
          <li><a href="https://github.com/mfreiholz/iF.SVNAdmin">Fork On <strong>GitHub</strong></a></li>
        </ul>
		
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/documentation">Documentation</a></li>
				<li><a href="/screenshots">Screenshots</a></li>
				<li><a href="http://www.insanefactory.com/" target="_blank">Blog</a></li>
				<li><a href="https://github.com/mfreiholz/iF.SVNAdmin/issues" target="_blank">Report Problem</a></li>
			</ul>
		</nav>
        
        <g:plus href="https://plus.google.com/107001008739321043851" rel="author" width="300" height="69"></g:plus>
        
      </header>
      <section>
		<h1>{{ page.title }}</h1>
		{{ page.content }}
	  </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/mfreiholz">Manuel Freiholz</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
	  
	<!-- Piwik -->
	<script type="text/javascript">
	var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.insanefactory.com/" : "http://piwik.insanefactory.com/");
	document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
	</script><script type="text/javascript">
	try {
	var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 4);
	piwikTracker.trackPageView();
	piwikTracker.enableLinkTracking();
	} catch( err ) {}
	</script><noscript><p><img src="http://piwik.insanefactory.com/piwik.php?idsite=4" style="border:0" alt="" /></p></noscript>
	<!-- End Piwik Tracking Code -->
	
    <script src="/javascripts/scale.fix.js"></script>
  </body>
</html>